<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Item in exchange</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name.capitalize %></td>
        <td><%= product.description.capitalize %></td>
        <td><%= product.iteminexchange.capitalize %></td>
        <td><button class="btn-default type="button"><%= link_to 'Show', product %></button></td>
        <td><button class="btn-default type="button"><%= link_to 'Edit', edit_product_path(product) %></button></td>
        <td><button class="btn-default type="button"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'Add a product !', new_product_path %>
<% end %>